/*
INDICE

0. General
1. Inicio/index
2. Contacto
3. Portfolio
4. Experiencia
5. Sobre mí
6. Mobile
7. Tablet
8. Bootstrap

*/

/* 0. General */

* {
  margin: 0;
  padding: 0;
  box-sizing: unset;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*TITULOS*/

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

/*Sections*/

section {
  margin: 0px 0px;
  padding: 0px 40px;
}

/*HEADER + NAV*/

.mobile-navbar {
  display: none;
}

header {
  background-color: #efd3d7;
  padding: 15px 50px 15px 50px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header h1 {
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  display: inline;
  padding-right: 150px;
}

.nav-header {
  text-align: right;
  word-spacing: 15px;
  display: inline;
  padding-left: 200px;
  padding-right: 0;
}

.sobre-mi {
  word-spacing: 0px;
}

.nav-header a {
  text-decoration: none;
  color: #212121;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.5s;
}

.nav-header a:hover {
  text-decoration: overline;
  font-weight: bold;
}

/*Primera section/elemento de cada pagina*/
.section-one {
  padding-top: 100px;
  margin: 0;
}

/*section contacto*/
.section-contacto {
  background: linear-gradient(180deg, white, #bcb7ca 80%, #adadc1);
  height: 200px;
  padding: 5%;
  display: flex;
  justify-content: center;
}

.section-contacto div {
  margin: 7% 0 0 0;
  text-align: center;
}

.section-contacto div h3,
.section-contacto div p {
  padding: 2% 0;
}

.section-contacto div p a {
  font-weight: bold;
  color: #212121;
  text-decoration: none;
  transition: all 1s;
}

.section-contacto div p a:hover {
  color: #757575;
}

/*FOOTER*/

footer {
  padding: 2%;
  background-color: #8e9aaf;
  color: white;
  text-align: center;
}

footer section {
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 0 5%;
  display: block;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

footer a:hover {
  color: #f7dfe9;
  transform: scale(1.2);
  transition: all 1s;
}

/*1. INICIO/INDEX*/
.inicio-hero {
  height: 350px;
  background-color: #efd3d7;
  margin: 0px;
  text-align: center;
  padding: 200px 50px 50px 50px;
}

.inicio-hero h2 {
  margin-top: 50px;
  text-transform: none;
  animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.inicio_h3 {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.proyectos-titulo {
  margin: 5% 0 2% 0;
}

.inicio-proyectos-container {
  padding: 0;
  margin-bottom: 10%;
}

.inicio_proyectos {
  text-align: center;
  width: 60%;
  margin: 0 20% 10% 20%;
  align-items: center;
}

.inicio_proyectos img {
  width: 30%;
  margin: 0 0 5% 0;
}

.proyectos-boton {
  border-bottom: 1px solid black;
  width: 30%;
  padding: 3% 0 2% 0;
  margin: auto;
  transition: all 1s;
}

.proyectos-boton a {
  color: #212121;
  text-decoration: none;
  font-weight: bold;
}

.proyectos-boton:hover {
  transform: scale(0.9);
}

.inicio_sobre-mi_2 button {
  width: 50%;
  margin: 2% 0;
  padding: 2%;
  border: 0px;
  border-radius: 50px;
  background-color: #fff;
  margin: 5% 25%;
  transition: all 1s;
}

.inicio_sobre-mi_2 button:hover {
  font-weight: 600;
  cursor: pointer;
  transform: scale(0.95);
}

/*2.CONTACTO*/

.contacto_container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.contacto_info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacto_info-section {
  text-align: center;
}

.contacto_info-section h2 {
  margin: 10% 0%;
}

.contacto_form-section {
  padding: 100px 0 0 0;
}
.contacto_form-container {
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacto_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contacto_form label {
  margin: 2% 0%;
  width: 100%;
  text-align: center;
}

.contacto_form input {
  width: 100%;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #cbc0d3;
}

.contacto_form input:focus {
  border-radius: 50px;
  border: 2px solid #cbc0d3;
}
.contacto_form textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #cbc0d3;
}

.contacto_form button {
  width: 50%;
  margin: 2% 0;
  padding: 2%;
  border: 0px;
  border-radius: 50px;
  background-color: #cbc0d3;
  transition: all 1s;
}

.contacto_form button:hover {
  background-color: #efd3d7;
  cursor: pointer;
  transform: scale(0.95);
}

/*3. PORTFOLIO*/

.portfolio_titulo {
  height: 200px;
  margin-bottom: 5%;
  padding: 15% 0 5% 0;
  background-color: #cbc0d3;
}

.portfolio_collapse {
  margin: 5% 0 0 0;
}

.portfolio_ul {
  list-style-type: none;
  padding-left: 5%;
  text-align: left;
}

.portfolio_ul li::before {
  content: "✔";
  padding-right: 1%;
}

.portfolio_ul h5 {
  font-weight: 600;
  padding: 2% 0 0 0;
}

/*4.Experiencia*/

.experiencia_titulo {
  width: 100%;
  height: 200px;
  margin-bottom: 2%;
  padding: 15% 0 2% 0;
  background-color: #eee6fd;
}

.experiencia_section-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: 0 2% 10% 2%;
}
.experiencia_section {
  text-align: left;
  width: 95%;
  padding: 0px;
}

.experiencia_item {
  border-left: 1px solid black;
  padding-left: 1rem;
  padding-right: 0;
  margin-bottom: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.experiencia_item ul {
  list-style: none;
}

.experiencia_section h2 {
  margin-bottom: 20px;
}

/*5. Sobre mi*/

.sobre-mi_hero {
  height: auto;
  background-color: #eee6fd;
  display: grid;
  grid-template-columns: 50% 50%;
}

.sobre-mi_hero img {
  width: 70%;
  padding: 0 0 0 10%;
}

.sobre-mi_hero h2 {
  padding: 30% 10% 10% 0;
}

.sobre-mi_presentacion-container {
  margin: 5% 0 10% 0;
  padding: 0 10%;
}

/*6.MOBILE*/
@media only screen and (max-width: 400px) {
  *,
  ::after,
  ::before {
    box-sizing: unset;
  }

  header {
    width: 100%;
  }

  .section-one {
    padding-top: 5%;
  }

  p {
    font-size: 18px;
  }

  footer {
    width: 90%;
    padding: 5%;
  }

  .mobile-navbar {
    display: unset;
    width: 100%;
    background-color: #efd3d7;
    margin: 0;
    padding: 0;
  }

  .bg-light {
    background-color: #efd3d7 !important;
  }

  header {
    display: none;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .section-contacto {
    height: auto;
  }

  /*INICIO*/

  .inicio_h3 {
    text-align: center;
    font-size: 25px;
  }

  .inicio-proyectos-container {
    margin: 0;
    text-align: center;
    display: block;
  }

  .inicio_proyectos {
    width: 90%;
    margin: 0 5% 20% 5%;
  }

  .inicio-hero {
    width: 90%;
    padding: 20% 5%;
    height: unset;
  }

  .inicio-hero h2 {
    margin: 0;
    line-height: 1.5;
  }

  /*PORTFOLIO*/
  .portfolio_titulo {
    height: auto;
    margin-bottom: 5%;
    padding: 15% 0;
  }

  /*SOBRE MI*/
  .sobre-mi_presentacion-container {
    width: 90%;
  }

  .sobre-mi_hero img {
    width: 100%;
    padding: 0 0 0 10%;
  }

  .sobre-mi_hero h2 {
    font-size: 20px;
    padding: 30% 10% 10% 0;
  }

  /*EXPERIENCIA*/

  .experiencia_titulo {
    height: auto;
    padding: 15% 0;
  }

  .experiencia_section {
    display: block;
    width: 90%;
    padding: 5%;
  }

  .experiencia_section-container {
    grid-template-columns: auto;
  }

  /*CONTACTO*/
  .contacto_container {
    padding: 5%;
    display: grid;
    grid-template-columns: auto;
  }

  .contacto_info-section {
    padding: 0;
  }
}

/*7.TABLET*/

@media only screen and (min-width: 401px) and (max-width: 960px) {
  *,
  ::after,
  ::before {
    box-sizing: unset;
  }

  header {
    width: 100%;
  }

  section {
    margin: 10px 0px;
    padding: 0;
  }

  .section-one {
    padding-top: 5%;
  }

  p {
    font-size: 15px;
  }

  .section-contacto {
    height: auto;
    margin: 0;
  }

  footer {
    width: 90%;
    padding: 5%;
  }

  .mobile-navbar {
    display: unset;
    width: 100%;
    background-color: #efd3d7;
    margin: 0;
    padding: 0;
  }

  .bg-light {
    background-color: #efd3d7 !important;
  }

  header {
    display: none;
    padding: 0;
    margin: 0;
    position: relative;
  }

  header h1 {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .nav-header {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
  }

  .nav-header a {
    display: block;
  }

  /*INICIO*/

  .inicio_h3 {
    text-align: center;
    font-size: 20px;
  }

  .inicio-proyectos-container {
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
  }

  .inicio_proyectos {
    width: 90%;
    margin: 0 5%;
    padding: 10% 0%;
  }

  .inicio-imagenes-proyectos {
    width: 50%;
    height: 50%;
  }

  .inicio-hero {
    width: 90%;
    padding: 20% 5%;
    height: unset;
  }

  .inicio_sobre-mi {
    height: fit-content;
    display: grid;
    grid-template-columns: 100%;
  }

  .inicio_sobre-mi_1,
  .inicio_sobre-mi_2 {
    margin: 0% 30%;
    padding: 5% 0%;
    height: fit-content;
  }

  .inicio_sobre-mi_2 button {
    width: 80%;
  }

  .inicio_sobre-mi_2 button:active {
    transform: scale(0.95);
  }

  /*PORTFOLIO*/
  .portfolio_titulo {
    height: auto;
    margin-bottom: 5%;
    padding: 15% 0;
  }

  /*SOBRE MI*/
  .sobre-mi_presentacion-container {
    width: 90%;
    padding: 5%;
  }

  .sobre-mi_presentacion-container h1 {
    margin: 5% 0;
  }

  .sobre-mi_video {
    height: 40%;
    width: 80%;
    padding: 10%;
  }

  /*EXPERIENCIA*/

  .experiencia_titulo {
    height: auto;
    padding: 15% 0;
  }

  .experiencia_section {
    display: block;
    width: 90%;
    padding: 5%;
  }

  .experiencia_section-container {
    grid-template-columns: auto;
  }

  /*CONTACTO*/
  .contacto_container {
    padding: 5%;
    display: grid;
    grid-template-columns: auto;
  }

  .contacto_info-section {
    padding: 0;
  }
}

/*8. BOOTSTRAP*/

.btn-primary {
  color: #212121;
  background-color: #cbc0d3;
  border-color: #cbc0d3;
}

.btn-primary:hover {
  color: #212121;
  background-color: #adadc1;
  border-color: #adadc1;
}

.btn-primary:active {
  color: #212121;
  background-color: #adadc1;
  border-color: #adadc1;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(173 173 193 / 50%);
  color: #212121;
  background-color: #adadc1;
  border-color: #adadc1;
}

.btn-primary:focus {
  color: #212121;
  background-color: #adadc1;
  border-color: #adadc1;
  box-shadow: 0 0 0 0.25rem rgb(173 173 193 / 50%);
}
